.App {
  background-color: #282c34;
  text-align: center;
}

.App-logo {
  height: 30vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-link {
  // display: none;
  color: #61dafb;
  text-decoration: underline;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.i-modal {
  font-size: 14px;
  color: black;
  position: sticky;
  bottom: 20px;
  margin: 0 auto;
  max-width: 500px;
  width: 90%;
  &__wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    border-radius: 20px;
    box-shadow: 0 0 10px rgb(0, 0, 0 / 90%);
    padding: 20px 15px;
    background: white;
  }

  @media (max-width: 480px) {
    width: 85%;
  }

  &__image{
    margin-top: -40px;
  }

  &__header{
    margin: 10px 0 0;
  }
  

  &__text{
    text-align: center;
  }

  &__actios-wrapper{
    flex-direction: column;
  }

  &__actios-wrapper,
  &__actios-wrapper div{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__actios-wrapper div:first-child{
    margin-bottom: 2.5px;
  }

  &__icon{
    width: 20px;
    margin-left: 5px;
  }
}

.push-notifications_btn{
  width: 200px;
  background-color: transparent;
  border: 1px solid;
  border-radius: 8px;
  color: #61dafb;
  text-align: center;
  padding: 5px 10px;
  box-sizing: border-box;
  display: block;
  margin: 0 auto;
}


.home-container{
  width: 80%;
  max-width: 800px;
  &__text{
    font-size: 16px;
    line-height: 2;

    @media (max-width: 480px) {
      font-size: 16px;
    }
  }
}